.agx-tag-group {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-4);
}

.agx-tag-group__more {
  cursor: default;
  outline: none;
}

.agx-tag-group__more[data-focus-visible] {
  box-shadow: var(--shadow-focus-shadow);
}

.agx-tag-group__tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

.agx-tag-group__tooltip-tags {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  padding: var(--spacing-8);
  background: var(--surface-gray-super-dark);
  border-radius: var(--radius-12-large);
}

.agx-tag-group__tooltip-arrow {
  color: var(--surface-gray-super-dark);
}

.agx-tag-group__tooltip-arrow svg {
  display: block;
}
