.agx-toggle-with-label {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-8);
  font-family: var(--font-family-noto-sans-thai), sans-serif;
  font-weight: var(--weight-medium);
}

.agx-toggle-with-label--bg {
  box-sizing: border-box;
  background: var(--surface-white);
  border: var(--border-100-base) solid var(--border-gray-super-light);
  border-radius: var(--radius-8-medium);
  padding: var(--spacing-8) var(--spacing-12) var(--spacing-8) var(--spacing-16);
}

.agx-toggle-with-label__title {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  gap: 2px;
}

.agx-toggle-with-label__text {
  font-size: var(--size-14);
  line-height: var(--line-height-20);
  color: var(--text-primary);
  white-space: nowrap;
}

.agx-toggle-with-label__info-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: var(--spacing-2);
  border: none;
  border-radius: var(--radius-6-small);
  background: transparent;
  color: var(--icon-gray);
  cursor: pointer;
}

.agx-toggle-with-label__info-icon {
  width: 16px;
  height: 16px;
}
